{% extends "layout.html" %}
{% load static %}
{% block main %}

    <!--section start-->
    <section class="register-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>create account</h3>
                    <div class="theme-card">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {% for field in form %}
                                    <label for="{{ field.id_for_label }}" class="mb-0">{{ field.label }}</label>
                                    {{ field }}
                                    <div class="mb-1">
                                        {% for error in field.errors %}
                                            <small class="text-danger">{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" name="accepted" id="exampleCheck1">
                                <a class="text-dark" href="#">Accept Terms and Conditions</a>
                                {% if not_accepted %}
                                    <small class="text-danger">Terms and conditions must be accepted!</small>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-secondary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->


{% endblock main %}



















              

